Project Display Example

- Provides a list of items within a variety of categories.
- Provide a user registration and authentication system.
- The homepage displays all current categories along with the latest added items. http://localhost:8000/
- Selecting a specific category shows you all the items available for that category. http://localhost:8000/Snowboarding/items
- Selecting a specific item shows you specific information of that item. http://localhost:8000/Snowboarding/Snowboard
- After logging in, a user has the ability to add, update, or delete item info.
  - http://localhost:8000/ (logged in)
  - http://localhost:8000/Snowboarding/Snowboard (logged in)
  - http://localhost:8000/Snowboarding/Snowboard/edit (logged in)
  - http://localhost:8000/Snowboarding/Snowboard/delete (logged in)
- The application provides a JSON endpoint, at the very least. http://localhost:8000/catalog.json

